@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  /*overflow: hidden;*/ /*for locomotive*/
  height: 100%;
}

body {
  /*overflow: hidden;*/ /*for locomotive*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fdf6f6; Background color for the body to match your container */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#root {
  width: 100%;
  height: 100%;
}

.lg-card{
    background-color: #ffffffa8;
    
}
.lg-background {
    background-image: url('assets/img/texture-dark.jpg');
    background-size: cover;
    background-position: center;
  }

.log-img{
  background-image: url('assets/img/rent.png');
  background-size: cover;
  background-position: center;
}



.scroll-container {
  overflow: hidden;
}
